# This file can be renamed as "localconfig.py" and used to overwrite
# settings in config.py

# Sign up at http://realtime.nationalrail.co.uk/OpenLDBWSRegistration/
open_ldbws_key = None

# Twitter keys
twitter_access_key = None
twitter_access_secret = None
twitter_consumer_key = None
twitter_consumer_secret = None

